
.form-ele {
    font-family: Helvetica;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 10px;
}
.bounties {
    font-family: Helvetica;
    margin-top: 70px;
    margin-left: 50px;
}
.edit-button {
    margin-left: 50px;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
}
.delete-button {
    margin-left: 20px;
    padding: 7px;
    border-radius: 5px;
}
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
}
body {
    background-color:rgb(1, 1, 18);
    color:rgb(217, 204, 18);
}
.title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 45px;
}
